doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-aggregates.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>

                <resource id="os-aggregates" path="os-aggregates">
                    <method href="#list_aggregates"/>
                    <method href="#create_aggregate"/>
                    <resource path="{aggregate_id}">
                        <param name="aggregate_id" style="template">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The ID associated with an aggregate.
                            </p>
                        </doc>
                        </param>
                        <method href="#delete_aggregate"/>
                        <method href="#get_details"/>
                        <method href="#update_aggregate"/>
                        <resource path="action">
                            <method href="#set_metadata"/>
                            <method href="#add_host"/>
                            <method href="#remove_host"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="list_aggregates">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
               List all aggregates.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/XML">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-list-get-resp.xml" />
                </doc>
            </representation>
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-list-get-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="create_aggregate">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Create an aggregate.
            </p>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                  Name of aggregate
                </p></doc>
            </param>
            <param name="availability_zone" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                 Availability zone of aggregate
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-post-req.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-post-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-post-resp.xml" />
                </doc>
            </representation>
        </response>
        <response status="200">
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-post-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="GET" id="get_details">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Get details of a specific aggregate.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"/>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-get-resp.xml" />
                </doc>
            </representation>
        </response>
        <response status="200">
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-get-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="PUT" id="update_aggregate">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Update the aggregate's name and optionally availability zone.
            </p>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                  Name of aggregate
                </p></doc>
            </param>
            <param name="availability_zone" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                 Availability zone of aggregate
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-update-post-req.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-update-post-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-update-post-resp.xml" />
                </doc>
            </representation>
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-update-post-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="DELETE" id="delete_aggregate">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Delete an aggregate.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json"/>
        </request>
        <response status="200" />
    </method>

    <method name="POST" id="set_metadata">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Set metadata for an aggregate.
            </p>
        </wadl:doc>
        <request>
            <param name="metadata" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                  Metadata value to be set.
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-metadata-post-req.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-metadata-post-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-metadata-post-resp.xml" />
                </doc>
            </representation>
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-metadata-post-resp.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="add_host">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
               Add a host to an aggregate.
            </p>
        </wadl:doc>
        <request>
            <param name="host" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Host ID to add to an aggregate, which is a collection of multiple groups of hosts that share common resources like storage and network.
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-add-host-post-req.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-add-host-post-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-add-host-post-resp.xml" />
                </doc>
            </representation>
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-add-host-post-resp.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="remove_host">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
               Remove a host from an aggregate.
            </p>
        </wadl:doc>
        <request>
            <param name="host" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                  Host ID to add to an aggregate.
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-remove-host-post-req.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregate-remove-host-post-req.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-remove-host-post-resp.xml" />
                </doc>
            </representation>
             <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="../api_samples/os-aggregates/aggregates-remove-host-post-resp.json" />
                </doc>
            </representation>
        </response>

    </method>
 </application>
