doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-consoles.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>

             <resource id="Servers" path="servers">
                <resource path="{server_id}">
                    <param name="server_id" style="template" type="csapi:UUID">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">
                                The UUID for the server of interest to you.
                            </p>
                        </doc>
                    </param>
                    <resource path="action">
                        <method href="#getConsole"/>
                    </resource>
                </resource>
             </resource>
           </resource>
       </resource>
    </resources>

    <method name="POST" id="getConsole">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Fetch a console.</p>
        </wadl:doc>
        <request>
            <param name="type" style="plain" required="true">
              <doc><p xmlns="http://www.w3.org/1999/xhtml">
                Acceptable values are 'novnc' and 'xvpvnc'.
              </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/consoles-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/consoles-response.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
