doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-console-output.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">
    
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template" type="csapi:UUID">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The UUID for the server of interest to you.
                            </p>
                            </doc>
                        </param>
                        <resource path="action">
                            <method href="#getConsoleOutput"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    
    <method name="POST" id="getConsoleOutput">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Get Console Output for Server Instance.">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Fetch console output.
            </p>
        </wadl:doc>
        <request>
            <param name="length" style="plain">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">
                        Number of lines to fetch from end of console log.
                    </p>
                </doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-console-output-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-console-output-response.json" />
                </doc>
            </representation>
        </response>
    </method>
    
</application>
