doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-cloudpipe.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource path="os-cloudpipe">
                    <method href="#listCloudpipes"/>
                    <method href="#createCloudpipe"/>
                </resource>
            </resource>
       </resource>
    </resources>

    <method name="GET" id="listCloudpipes">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">List cloudpipes</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-cloudpipe-list-response.json" />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createCloudpipe">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Create a cloudpipe</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <param name="project_id" style="plain">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      Create the cloudpipe for the specified tenant. Defaults
                      to the calling tenant.
                    </p></doc>
                </param>
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-cloudpipe-create-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-cloudpipe-create-response.json" />
                </doc>
            </representation>
        </response>
    </method>
</application>
