doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-extended-status.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                        The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
            <resource id="Servers" path="servers">
                    <param name="server_id" style="template" type="csapi:UUID">
                        <doc>
                            <p xmlns="http://www.w3.org/1999/xhtml">The UUID for the server of interest to you.</p>
                        </doc>
                    </param>
                    <resource path="action">
                        <method href="#os-extended-status-show"/>
                    </resource>
                    <resource path="detail">
                        <method href="#os-extended-status-detail"/>
                    </resource>
            </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="os-extended-status-show">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Extended status for server show">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds vm_state, power_state, and task_state to a server response object.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-extended-status-show-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="os-extended-status-detail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Extended attributes for server detail">
            <p xmlns="http://www.w3.org/1999/xhtml">Adds vm_state, power_state, and task_state to each returned server object.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-extended-status-detail-response.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
