doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-floating-ip-pools.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://floatingippools.example.com/">
        <resource id="version" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            The unique identifier of the tenant or account.
                        </p>
                    </doc>
                </param>

                <resource id="floating-ip-pools" path="os-floating-ip-pools">
                    <method href="#listFloatingIpPools" />
                </resource>

          </resource>
        </resource>
    </resources>

    <method name="GET" id="listFloatingIpPools">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" 
            title="List Floating IP Pools">
            <p xmlns="http://www.w3.org/1999/xhtml">
                View a list of Floating IP Pools.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/floating_ip_pools_list.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
