doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-floating-ip-dns.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">
                            The unique identifier of the tenant or account.
                        </p>
                    </doc>
                </param>

                <resource id="os-floating-ips" path="os-floating-ips">
                    <method href="#ListDomains" />

                    <resource path="{domain}">
                        <param name="domain" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                 Registered DNS Domain published by the DNS drivers.
                            </p></doc>
                        </param>
                        <method href="#CreateDomain" />
                        <method href="#DeleteDomain" />
                        <resource id="entries" path="entries">
                             <resource path="{name}">
                                <param name="name" style="template" required="true">
                                   <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                   The unique domain name.
                                   </p></doc>
                                </param>
                                <method href="#CreateEntry" />
                                <method href="#FindUniqueEntry" />
                                <method href="#FindEntries" />
                                <method href="#DeleteEntry" />

                             </resource>
                        </resource>
                    </resource>
                </resource>

          </resource>
        </resource>
    </resources>

    <method name="GET" id="ListDomains">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="List DNS Domains">
            <p xmlns="http://www.w3.org/1999/xhtml">Get a list of registered DNS Domains published by the DNS drivers.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/list_dns_domains.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="CreateDomain">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create a Domain">
            <p xmlns="http://www.w3.org/1999/xhtml">Create or modify a DNS domain.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/create_modify_domain.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="DeleteDomain">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Delete a Domain">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a DNS domain and all associated host entries.</p>
        </wadl:doc>
        <response status="200" />
    </method>

    <method name="PUT" id="CreateEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Create Dns Entry">
            <p xmlns="http://www.w3.org/1999/xhtml">Create or modify a DNS entry.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/create_modify_dns_entry.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="FindUniqueEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Find Unique DNS Entry">
            <p xmlns="http://www.w3.org/1999/xhtml">Find unique DNS entry for a given domain and name.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/find_uniq_entry.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="FindEntries">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Find DNS Entries">
            <p xmlns="http://www.w3.org/1999/xhtml">Find DNS entries for a given domain and IP.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/find_entries.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="DeleteEntry">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Delete a DNS entry">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a DNS entry.</p>
        </wadl:doc>
        <response status="200" />
    </method>

</application>
