doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-hypervisors.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                        The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="os-hypervisors" path="os-hypervisors">
                    <method href="#list_hypervisors"/>
                    <method href="#statistics_hypervisors"/>
                    <resource path="{hypervisor_hostname}/servers">
                        <param name="hypervisor_hostname" style="template">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The name associated with a hypervisor hostname, the host running the hypervisor.
                            </p>
                            </doc>
                        </param>
                        
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="list_hypervisors">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">List hypervisors information per server obtained through the hypervisor-specific API, 
                such as libvirt or XenAPI</p>
        </wadl:doc>
        <request>
            
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hypervisors-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="statistics_hypervisors">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Offers detailed hypervisors API information per server. 
                Typically configured as an admin-only extension using policy.json settings.</p>
        </wadl:doc>
        <request>
            <param name="HypervisorHostname" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Retrieved from the per-server listing.
                </p></doc>
            </param>
            <representation mediaType="application/json">
                 
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hypervisors-stats-list.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
