doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-hosts.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource path="os-hosts">
                    <method href="#listHosts"/>
                    <resource path="{host_name}">
                        <param name="host_name" style="template">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                              The name of the host of interest to you.
                            </p></doc>
                        </param>

                        <method href="#showHost"/>
                        <method href="#updateHost"/>

                        <resource path="startup">
                            <method href="#startup"/>
                        </resource>

                        <resource path="shutdown">
                            <method href="#shutdown"/>
                        </resource>

                        <resource path="reboot">
                            <method href="#reboot"/>
                        </resource>

                    </resource>
                </resource>
            </resource>
       </resource>
    </resources>

    <method name="GET" id="listHosts">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              List all hosts.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-list.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="PUT" id="updateHost">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Enable a host or put it in maintenance mode.
            </p>
        </wadl:doc>
        <request>
            <param name="status" style="plain" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Accepted values are 'enable' or 'disable'.
                </p></doc>
            </param>
            <param name="maintenance_mode" style="plain" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Accepted values are 'enable' or 'disable'.
                </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-update-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-update-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showHost">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Describe a specific host
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-show.json" />
                </doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="shutdown">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Shut down a host.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-action.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="startup">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Start a host.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-action.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="reboot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Reboot a host.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-hosts-action.json" />
                </doc>
            </representation>
        </response>
    </method>

</application>
