doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-keypairs.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="os-keypairs" path="os-keypairs">
                <method href="#getKeypair" />
                <method href="#createKeypair" />
                  
                <resource path="{keypair_name}">
                    <param name="keypair_name" style="template" required="true">
                        <doc><p xmlns="http://www.w3.org/1999/xhtml">
                          The name associated with a keypair.
                        </p></doc>
                    </param>

                    <method href="#deleteKeypair" />

                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="getKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              View a lists of keypairs associated with the account.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/keypair_list.json" />
                </doc>
            </representation>
        </response>
    </method>
    
    <method name="DELETE" id="deleteKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Delete a keypair.</p>
        </wadl:doc>
        <response status="202" />
    </method>
    
    <method name="POST" id="createKeypair">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Generate or import a keypair.
            </p>
        </wadl:doc>
        <request>
            <param name="name" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The name to be associated with the keypair.
                </p></doc>
            </param>
            <param name="public_key" style="plain">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                  The public ssh key to import. If not provided, one will 
                  be generated. 
                </p></doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/keypair_publickey_create_request.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/keypair_publickey_create_request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/keypair_create_response.xml" />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/keypair_create_response.json" />
                </doc>
            </representation>
        </response>
    </method>
    </application>
