doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-quota-sets.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="Quotas" path="os-quota-sets">
                    <resource path="{tenant_id}">
                        <param name="tenant_id" style="template" type="csapi:UUID">
                            <doc>
                                <p xmlns="http://www.w3.org/1999/xhtml">
                                  The ID for the tenant or account to act on.
                                </p>
                            </doc>
                        </param>
                        <method href="#showQuota"/>
                        <method href="#updateQuota"/>
                        <resource path="defaults">
                            <method href="#getDefaults"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="getDefaults">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Retrieve default quotas.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/quota-sets-defaults-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="showQuota">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Show quotas for tenant.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/quota-sets-show-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="updateQuota">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Update quotas for tenant.</p>
        </wadl:doc>
         <request>
            <param name="quota_set" style="plain" required="true">
              <doc><p xmlns="http://www.w3.org/1999/xhtml">
                Quotas object.
              </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/quota-sets-update-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
        </response>
    </method>
</application>
