doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-rescue.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="Servers" path="servers">
                <resource path="{server_id}">
                    <param name="server_id" style="template" type="csapi:UUID">
                        <doc><p xmlns="http://www.w3.org/1999/xhtml">
                          The UUID for the server of interest to you.
                        </p></doc>
                    </param>
                    <resource path="action">
                        <method href="#rescue"/>
                        <method href="#unrescue"/>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="POST" id="rescue">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Put a server in rescue mode. Changes status to RESCUE.
            </p>
        </wadl:doc>
        <request>
            <param name="adminPass" style="plain">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Use this password for the rescued instance. Generate a new
                    password if none is provided.
                </p></doc>
            </param>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-rescue-request.json" />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-rescue-response.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="unrescue">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              Return server to its state before being rescued.
            </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/os-unrescue-request.json" />
                </doc>
            </representation>
        </request>
        <response status="202" />
    </method>
</application>
