doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-simple-tenant-usage.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                      The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                <resource id="os-simple-tenant-usage" path="os-simple-tenant-usage">
                    <method href="#ListUsage" />
                    <resource path="{tenant_id}">
                        <param name="tenant_id" style="template" required="true">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                 The tenant_id that for which usage is requested.
                            </p></doc>
                        </param>
                        <method href="#GetUsage" />
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>

    <method name="GET" id="GetUsage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
               Retrieve usage for a tenant.
            </p>
        </wadl:doc>
        <request>
            <param name="start" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The start of a time range, in datetime format.
                </p></doc>
            </param>
            <param name="end" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The end of the time range, in datetime format.
                </p></doc>
            </param>
            <param name="detailed" style="plain" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Whether to return detailed usage information.  Defaults to False.
                </p></doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/usage_get.json" />
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="ListUsage">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">
              View usage for all tenants.
            </p>
        </wadl:doc>
        <request>
            <param name="start" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The start of a time range, in datetime format.
                </p></doc>
            </param>
            <param name="end" style="plain" required="true">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    The end of the time range, in datetime format.
                </p></doc>
            </param>
            <param name="detailed" style="plain" required="false">
                <doc><p xmlns="http://www.w3.org/1999/xhtml">
                    Whether to return detailed usage information.  Defaults to False.
                </p></doc>
            </param>
        </request>
        <response status="200">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="samples/usage_list.json" />
                </doc>
            </representation>
        </response>
    </method>
    
</application>
