doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-volume.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"  
    xmlns:db="http://docbook.org/ns/docbook"
    xmlns:csapi="http://docs.openstack.org/compute/api/v2"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:common="http://docs.openstack.org/common/api/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:atom="http://www.w3.org/2005/Atom">
 <!--   <grammars>
        <include href="xsd/api.xsd"/>
        <include href="xsd/api-common.xsd"/>
    </grammars> -->
    <resources base="https://volume.example.com/">
        <resource id="version" path="v1.1">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml"> The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>

                <resource id="os-volumes" path="os-volumes">

                    <method href="#getVolumesSimple"/>

                    <resource path="detail">
                        <method href="#getVolumesDetail"/>
                    </resource>

                    <resource path="{volume_id}">
                        <param name="volume_id" style="template"
                            required="true" type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The unique identifier for a
                                   volume. </p>
                            </doc>
                        </param>
                        <method href="#createVolume"/>
                        <method href="#getVolume"/>
                        <method href="#deleteVolume"/>

                    </resource>
                </resource>

                <resource id="os-volume-types" path="os-volume-types">
                    <method href="#getVolumeTypes"/>

                    <resource path="{volume_type_id}">
                        <param name="volume_type_id" style="template"
                            required="true"  type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier for a volume
                                   type. </p>
                            </doc>
                        </param>

                        <method href="#getVolumeType"/>
                    </resource>
                </resource>

                <resource id="os-snapshots" path="os-snapshots">
                    <method href="#createSnapshot"/>
                    <method href="#getSnapshotsSimple"/>

                    <resource path="detail">
                        <method href="#getSnapshotsDetail"/>
                    </resource>

                    <resource path="{snapshot_id}">
                        <param name="snapshot_id" style="template"
                            required="true" type="xsd:string">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   > The unique identifier for a
                                   snapshot. </p>
                            </doc>
                        </param>

                        <method href="#getSnapshot"/>
                        <method href="#deleteSnapshot"/>

                    </resource>
                </resource>

            </resource>
        </resource>
    </resources>

    <method name="POST" id="createVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a volume.
                The operation requires a request body. </p>
        </wadl:doc>
        <request>
            <param name="volume" style="plain" required="true" type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">A partial
                        representation of a volume that is used to
                        create a volume. </p>
                </doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_create.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_create.json"/>
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_show.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists the volumes
                associated with the account. The operation does not
                require a request body. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_list_simple.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_list_simple.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumesDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volumes (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                a specified volume. The operation does not require a
                request body. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_list_simple.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_list_simple.json"/>
                </doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="getVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified volume.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_show.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteVolume">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Volume">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified volume.</p>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_delete.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumeTypes">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Volume Types">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists volume
                types.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_type_list.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_type_list.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getVolumeType">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Volume Type">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified volume type.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/volume_type_show.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/volume_type_show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Create Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a
                snapshot.</p>
        </wadl:doc>
        <request>
            <param name="snapshot" style="plain" required="true" type="xsd:string">
                <doc>
                    <p xmlns="http://www.w3.org/1999/xhtml">A partial
                        representation of a snapshot that is used to
                        create a snapshot. </p>
                </doc>
            </param>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_create.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_create.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="201">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_show.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsSimple">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Snapshots">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists snapshots.
            </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/snapshot_list_simple.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/snapshot_list_simple.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="GET" id="getSnapshotsDetail">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="List Snapshots (Detailed)">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists details for
                a specified snapshot. The operation does not require a
                request body.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/snapshot_list_simple.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="os-samples/snapshot_list_simple.json"/>
                </doc>
            </representation>
        </response>
    </method>


    <method name="GET" id="getSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Show Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified snapshot.</p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_show.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_show.json"/>
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteSnapshot">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN"
            title="Delete Snapshot">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified snapshot from the account. The operation
                does not require a request body and does not return a
                response body. </p>
            <p>This operation is asynchronous. You must list snapshots
                repeatedly to determine whether the snapshot was
                deleted. </p>
        </wadl:doc>
        <response status="202">
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code href="os-samples/snapshot_delete.json"
                    />
                </doc>
            </representation>
        </response>
    </method>

</application>
