doc/src/docbkx/openstack-api-site/src/wadls/compute-api/src/ext/os-volume_attachments.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2011 OpenStack LLC., All Rights Reserved -->

<!--*******************************************************-->
<!--         Import Common XML Entities                    -->
<!--                                                       -->
<!--     You can resolve the entities with xmllint         -->
<!--                                                       -->
<!--        xmllint -noent os-compute-1.1.wadl             -->
<!--*******************************************************-->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]> 

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:csapi="http://docs.openstack.org/compute/api/v1.1">

    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v1.1/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template" type="xsd:string">
                    <doc><p xmlns="http://www.w3.org/1999/xhtml">
                        The ID for the tenant or account in a multi-tenancy cloud.
                    </p></doc>
                </param>
                
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template" type="csapi:UUID">
                            <doc><p xmlns="http://www.w3.org/1999/xhtml">
                                The UUID for the server of interest to you.
                            </p>
                            </doc>
                        </param>
                        <resource path="os-volume_attachments" type="#Volumes"> 
                            <resource path="{attachment_id}" type="#VolumeAttachmentList">
                                <param name="attachment_id" style="template" type="xsd:string"><doc xml:lang="EN" title="attachment_id">
                                    <p xmlns="http://www.w3.org/1999/xhtml">
                                        Volume attachment ID.
                                    </p></doc></param>
                            </resource> 
                    </resource>
                </resource>
            </resource>
        </resource>
        </resource>
    </resources>
  
    <!--*******************************************************-->
    <!--               Resource Types                          -->
    <!--*******************************************************-->
   
    <resource_type id="Volumes">
        <doc xml:lang="EN" title="Volumes">
            <p xmlns="http://www.w3.org/1999/xhtml">
                A list of volume attachments associated with a server.
            </p>
        </doc>
        <method href="#attachVolume"/>
        <method href="#listVolumeAttachments"/>
    
        
    </resource_type> 
    
    <resource_type id="VolumeAttachmentList">
        <doc xml:lang="EN" title="Volume Attachment List">
            <p xmlns="http://www.w3.org/1999/xhtml">
                A list of volume attachments associated with a server.
            </p>
        </doc>
        <method href="#getVolumeAttachmentDetails"/>
        <method href="#deleteVolumeAttachment"/>
    </resource_type>
 
    <!--*******************************************************-->
    <!--               All Methods                             -->
    <!--****************************************************** -->
    
    <!-- Volume Actions -->
    <method name="POST" id="attachVolume">
        <doc xml:lang="EN" title="Attach Volume to Server">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Attaches a volume to the specified server.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="csapi:attachvolume"/>
            <representation mediaType="application/json" element="csapi:attachvolume"/>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults-->
        &commonFaults;
        &getFaults;
        &postPutFaults;
        &inProgressFault;
    </method>
    
    <method name="GET" id="listVolumeAttachments">
        <doc xml:lang="EN" title="List Volume Attachments">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists the volume attachments for the specified server.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="csapi:attachvolume"/>
            <representation mediaType="application/json" element="csapi:attachvolume"/>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults-->
        &commonFaults;
        &getFaults;
        &postPutFaults;
        &inProgressFault;
    </method>
    
    <method name="GET" id="getVolumeAttachmentDetails">
        <doc xml:lang="EN" title="Get Volume Attachment Details">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Lists volume details for the specified volume attachment ID.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="csapi:attachvolume"/>
            <representation mediaType="application/json" element="csapi:attachvolume"/>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults-->
        &commonFaults;
        &getFaults;
        &postPutFaults;
        &inProgressFault;
    </method>
    
    
    <method name="DELETE" id="deleteVolumeAttachment">
        <doc xml:lang="EN" title="Delete Volume Attachment">
            <p xmlns="http://www.w3.org/1999/xhtml">
                Deletes the specified volume attachment from the specified server.
            </p>
        </doc>
        <request>
            <representation mediaType="application/xml" element="csapi:attachvolume"/>
            <representation mediaType="application/json" element="csapi:attachvolume"/>
        </request>
        <response status="202"/>
        <!-- Common, GET, postput, inProgress Faults-->
        &commonFaults;
        &getFaults;
        &postPutFaults;
        &inProgressFault;
    </method>
    </application>
