doc/src/docbkx/common/wadl/security-groups.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common.ent">
%common;]>

<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->

<application xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://www.w3.org/2001/XMLSchema">

    <resources base="https://servers.api.openstack.com/">
        <resource id="version" path="v2">
            <resource id="tenant_id" path="{tenant_id}">
                <param name="tenant_id" style="template"
                    type="csapi:uuid">
                    <doc>
                        <p xmlns="http://www.w3.org/1999/xhtml">The
                            unique identifier of the tenant or
                            account. </p>
                    </doc>
                </param>

                <resource id="security_groups" path="security-groups">
                    <method href="#listSecGroups"/>
                    <method href="#createSecGroup"/>

                    <resource id="get_security_group"
                        path="{security_group_id}">
                        <param name="security_group_id"
                            style="template" type="csapi:uuid">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of the
                                   security group. </p></doc>
                        </param>

                        <method href="#getSecGroup"/>
                        <method href="#deleteSecGroup"/>
                    </resource>
                </resource>

                <resource id="security_groups_rules"
                    path="security-group-rules">
                    <method href="#listSecGroupRules"/>
                    <method href="#createSecGroupRule"/>
                    <resource path="{rules-security-groups-id}">
                        <param name="rules-security-groups-id"
                            style="template" type="csapi:uuid">
                            <doc><p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The unique identifier of the
                                   security group rule. </p></doc>
                        </param>
                        <method href="#getSecGroupRule"/>
                        <method href="#deleteSecGroupRule"/>

                    </resource>

                </resource>

                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                            type="csapi:UUID">
                            <doc>
                                <p
                                   xmlns="http://www.w3.org/1999/xhtml"
                                   >The UUID for the server of
                                   interest to you. </p>
                            </doc>
                        </param>
                        <resource path="os-security-groups">
                            <method href="#listSecGroupsByServer"/>
                        </resource>
                    </resource>
                </resource>

            </resource>
        </resource>
    </resources>

    <method name="GET" id="listSecGroups">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml" role="shortdesc"
                >Lists a summary of all Quantum-defined security groups that are accessible to the specified tenant. </p><p
                xmlns="http://www.w3.org/1999/xhtml">The list provides
                the unique ID for each security group.</p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN"><xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-req.json"
                    /></doc>
            </representation>
            <representation mediaType="application/xml">
                <doc xml:lang="EN"><xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-req.xml"
                    /></doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
        <response status="401"/>
    </method>



    <method name="GET" id="getSecGroup">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Shows information
                for a specified security group. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="POST" id="createSecGroup">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a security
                group. </p>
        </wadl:doc>

        <request>
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-create-req.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-create-req.json"
                    />
                </doc>
            </representation>
        </request>

        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-create-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-create-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteSecGroup">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a security
                group.</p>
        </wadl:doc>
        <response status="202"/>
    </method>
    <method name="GET" id="listSecGroupRules">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Lists security
                group rules. </p>
        </wadl:doc>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/security-groups-list-get-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>
    <method name="POST" id="createSecGroupRule">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Creates a security
                group rule. </p>
        </wadl:doc>
        <request>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/rules-security-groups-create-req.json"
                    />
                </doc>
            </representation>
        </request>
        <response status="200">
            <representation mediaType="application/xml">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/rules-security-groups-create-resp.xml"
                    />
                </doc>
            </representation>
            <representation mediaType="application/json">
                <doc xml:lang="EN">
                    <xsdxt:code
                        href="../api_samples/security-groups/rules-security-groups-create-resp.json"
                    />
                </doc>
            </representation>
        </response>
    </method>

    <method name="DELETE" id="deleteSecGroupRule">
        <wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN">
            <p xmlns="http://www.w3.org/1999/xhtml">Deletes a
                specified Quantum security group rule from a security
                group. </p>
        </wadl:doc>
        <response status="204"/>
    </method>

</application>
